bootstrap.servers=${BOOTSTRAP_SERVERS}
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
  username='${CLUSTER_API_KEY}' \
  password='${CLUSTER_API_SECRET}';

# Best practice for Kafka producer to prevent data loss
acks=all

key.serializer=org.apache.kafka.common.serialization.StringSerializer
value.serializer=org.apache.kafka.common.serialization.StringSerializer

topic=test-topic